.flex-container {
    display: flex;
    justify-content: space-between; /* items evenly distributed (in row) */
}

.flex-container-end {
    display: flex;
    justify-content: end; /* items evenly distributed (in row) */
}

.ner-refresh-btn:hover {
    cursor: pointer;
}

.link-style {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.link-style:hover {
    color: darkblue;
}

.link-style-sublist {
    max-height: 0;
    overflow: hidden;
}

.link-style-sublist.expanded {
    max-height: 500px; /* Adjust as needed; should be large enough to fit most lists */
    transition: max-height 0.8s ease-in;
}

.link-style-sublist:hover {
    color: darkblue;
}

.link-style-ticked-sublist {
    max-height: 0;
    overflow: hidden;
}

.link-style-ticked-sublist.expanded {
    max-height: 500px; /* Adjust as needed; should be large enough to fit most lists */
    transition: max-height 0.8s ease-in;
}

.add-new {
    list-style-type: none; /* Remove default bullets */
    padding-left: 1rem;
}

.add-new li {
    position: relative;
    padding-left: 1rem;
}

.add-new li::before {
    content: '+'; /* Add a plus symbol before each list item */
    color: blue; /* Customize the color if needed */
    font-weight: bold; /* Make the plus symbol bold */
    position: absolute;
    left:0; /* Position the symbol */
}

.ner-regex-btn-container {
    display: flex; /* Use flexbox */
    justify-content: end; /* End horizontally */
    align-items: end; /* End vertically */
}

.tooltip-content {
    text-align: left;
    font-size: 14px;
}

.ner-script-edit-btn-container {
    display: flex; /* Use flexbox */
    justify-content: end; /* End horizontally */
    align-items: end; /* End vertically */
}

.transform-rule-wrapper {
    display: flex; /* Use flexbox */
    justify-content: space-between; /* two items, one on the left, another one on the right end */
}

.transform-rule-key-val-wrapper {
    display: flex; /* Use flexbox */
    justify-content: end; /* End horizontally */
    align-items: end; /* End vertically */
}

.data-sample-wrapper {
    display: flex; /* Use flexbox */
    justify-content: space-between; /* two items, one on the left, another one on the right end */
    align-items: flex-start;
}