.image-reference-container {
    overflow-y: auto;
}

.reference-detail-list-container {
    overflow-y: auto;
}

.reference-detail-container  {
    overflow-y: auto;
}

.reference-detail  {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
}

.reference-convert-btn  {
    position: absolute;
    left: 82%;
}

.reference-add-btn  {
    position: absolute;
    left: 66%;
}