.input-card {
    height: "10rem";
    margin-top: "3px";
    display: "flex";
    opacity: 0; /* Initially hidden */
  transform: translateX(-100%); /* Slide out of view */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Animation properties */
}

.input-card.active {
    opacity: 1; /* Show container */
    transform: translateX(0); /* Move container into view */
  }

.input-top-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}